<!DOCTYPE html>
<html>
<head>
    <title>Add Transaction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Add Transaction</h2>

<form method="POST">
    <select name="type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
    </select><br><br>

    <input type="number" name="amount" placeholder="Amount"><br><br>
    <input type="text" name="category" placeholder="Category"><br><br>

    <button type="submit">Add</button>
</form>

</div>

</body>
</html>