<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>💰 Expense Tracker</h1>

<div class="card-container">
    <div class="card income">Income: {{income}}</div>
    <div class="card expense">Expense: {{expense}}</div>
    <div class="card balance">Balance: {{balance}}</div>
</div>

<a href="/add" class="button">➕ Add Transaction</a>

<br><br>

<table border="1">
<tr>
    <th>ID</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Action</th>
</tr>

{% for row in data %}
<tr>
    <td>{{row[0]}}</td>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[3]}}</td>
    <td>
        <a href="/edit/{{row[0]}}" class="button">Edit</a>
        <a href="/delete/{{row[0]}}" class="button" onclick="return confirm('Delete?')">Delete</a>
    </td>
</tr>
{% endfor %}

</table>

</div>

</body>
</html>